<header class="header-vitat">
  <div class="container">
    
    <div class="header-logo">
      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-list"></i>
      </button>
      <div class="img">
        <img src="/assets/img/logo-vitat.png"/>
      </div>
    </div>

    <div class="header-nav">
      <div class="status-upload">
        <i class="bi bi-cloud-arrow-up"></i>
        <div class="status-upload-bar">
          <small>Seu arquivo está sendo carregado...</small>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
          </div>
        </div>
      </div>
      <div class="dropdown notification-menu">
        <div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="bullet"></span>
          <i class="bi bi-bell"></i>
        </div>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li>
            <div class="dropdown-item active">
              <i class="bi bi-check"></i>
              <div class="notification-msg">
                <p>Seu envio acabou! Foram encontrados <b>2 colaboradores</b> novos.</p>
                <small class="pillText">Hoje às 13:45h</small>
                <a href="" class="pill pill-neutralLow mt-2">Ver relatório</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <i class="bi bi-hourglass"></i>
              <div class="notification-msg">
                <p>Seu envio está em <b>processamento.</b></p>
                <small class="pillText">13/05/2023 às 18:45</small>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="dropdown user-menu">
        <div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="user-icon">I</span>
          <p class="user-name mb-0">Olá Isabela Rabesco!
            <smal class="pillText neutral-color-high-dark">Gerente de RH</smal>
          </p>
        </div>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Minha Conta</a></li>
          <li><a class="dropdown-item" href="#">Configurações</a></li>
          <hr>
          <li><a class="dropdown-item" href="#"><i class="bi bi-box-arrow-right"></i> Sair</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>