<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
        <navbar class="navbar-aside">
            <ul>
                <li class="navbar-aside_item">
                    <a href="./colors"><i class="bi bi-palette"></i> Colors</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./typography"><i class="bi bi-type"></i>Typography</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./buttons"><i class="bi bi-hand-index-thumb"></i> Buttons</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./pills"><i class="bi bi-caret-right-fill"></i> Pills</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./cards"><i class="bi bi-caret-right-fill"></i> Cards</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./tabs"><i class="bi bi-caret-right-fill"></i> Tabs</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./steps"><i class="bi bi-caret-right-fill"></i> Steps</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-text"><i class="bi bi-caret-right-fill"></i> Forms - Input Text</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-select"><i class="bi bi-caret-right-fill"></i> Forms - Select</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-checkbox"><i class="bi bi-caret-right-fill"></i> Forms - Checkbox</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./forms-radio"><i class="bi bi-caret-right-fill"></i> Forms - Radio</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./timeline"><i class="bi bi-caret-right-fill"></i> Timeline</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./modal"><i class="bi bi-caret-right-fill"></i> Modal</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./table"><i class="bi bi-caret-right-fill"></i> Table</a>
                </li>
                <li class="navbar-aside_item">
                    <a href="./VitScore"><i class="bi bi-caret-right-fill"></i> VitScore</a>
                </li>
            </ul>
        </navbar>

    </div>
  </div>