.input {
    border: $border-width-hairline solid $neutral-color-high-medium;
    height: 48px;
    width: 296px;
    background: $neutral-color-high-pure;
    border-radius: $border-radius-md;
    padding: $spacing-xxxs;
}