@import "_variables.scss";
@import "../_typography";

.card__horizontal {
  @extend .card;
  display: flex;
  flex-direction: row;
  .card__wrapper {
    padding-bottom: $spacing-xxxs;
    min-height: 117px;
    & + .heading {
      display: flex;
      align-items: center;
      @media (min-width: 1200px) {
        min-height: 147px;
      }
    }
  }
  .card__img {
    border-radius: $spacing-xxxs 0px 0px $spacing-xxxs;
    width: 100px;
    height: auto;
    object-fit: cover;
    @media (min-width: 1200px) {
      width: 147px;
    }
  }

  .card__text {
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
}
