.btn {
    font-family:$font-family-base;
    border-radius: $border-radius-pill;
    border: 1px solid transparent;
    font-weight: $font-weight-bold;
    padding: $spacing-xxxs $spacing-xs;
    font-size: $font-size-xs;
    text-align: center;
    line-height: $line-height-sm;
    cursor:pointer;

    &:hover {
        border: 1px solid transparent;
    }
    &:focus {
        animation: focus 2s infinite ease-in-out;
    }
    &:disabled {
        background:$neutral-color-high-medium;
        opacity: $opacity-level-medium;
        color:$neutral-color-low-pure;
        border: 1px solid transparent;
    }
}

.btn-sm {
    padding: $spacing-nano $spacing-xs;
}

.btn-lg {
    padding: $spacing-xxs $spacing-xs;
}

.btn-primary {
    @extend .btn;
    color:$neutral-color-low-pure;
    background:$brand-color-primary-pure;

    &:hover {
        color:$neutral-color-low-pure;
        background:$brand-color-primary-medium;
    }
    &-link {
        background: transparent;
        color: $brand-color-primary-medium;
        text-decoration: underline;

        &:hover {
            color: $brand-color-primary-medium;
            background-color: $neutral-color-high-light;
        }
    }
    &-outline {
        border: 2px solid $brand-color-primary-pure;
        color:$neutral-color-low-pure;
        background: transparent;

        &:hover {
            color:$neutral-color-low-pure;
            border: 2px solid $brand-color-primary-pure;
            background-color: $brand-color-primary-light;
        }

    }
}

.btn-secondary {
    @extend .btn;
    color:$brand-color-primary-pure;
    background:$neutral-color-low-pure;

    &:hover {
        color:$brand-color-primary-pure;
        background:$neutral-color-low-dark;
    }
    &-link {
        background: transparent;
        color: $neutral-color-low-pure;
        text-decoration: underline;

        &:hover {
            color: $neutral-color-low-pure;
            background-color: $neutral-color-high-light;
        }
    }
    &-outline {
        border: 2px solid $neutral-color-low-pure;
        color:$neutral-color-low-pure;
        background: transparent;

        &:hover {
            color:$neutral-color-low-pure;
            border: 2px solid $neutral-color-low-pure;
            background-color: $neutral-color-high-light;
        }

    }
}
