.brand-color-primary-light{ color: $brand-color-primary-light; }
.brand-color-primary-pure{ color: $brand-color-primary-pure; }
.brand-color-primary-medium{ color: $brand-color-primary-medium; }
.brand-color-primary-dark{ color: $brand-color-primary-dark; }

.brand-color-secondary-light{ color: $brand-color-secondary-light; }
.brand-color-secondary-pure{ color: $brand-color-secondary-pure; }
.brand-color-secondary-medium{ color: $brand-color-secondary-medium; }
.brand-color-secondary-dark{ color: $brand-color-secondary-dark; }

.highlight-color-light{ color: $highlight-color-light; }
.highlight-color-pure{ color: $highlight-color-pure; }
.highlight-color-medium{ color: $highlight-color-medium; }
.highlight-color-dark{ color: $highlight-color-dark; }

.health-color-primary{ color: $health-color-primary; }
.health-color-secondary{ color: $health-color-secondary; }

.well-being-color-primary{ color: $well-being-color-primary; }
.well-being-color-secondary{ color: $well-being-color-secondary; }

.neutral-color-low-pure{ color: $neutral-color-low-pure; }
.neutral-color-low-dark{ color: $neutral-color-low-dark; }
.neutral-color-low-medium{ color: $neutral-color-low-medium; }
.neutral-color-low-light{ color: $neutral-color-low-light; }

.neutral-color-high-pure{ color: $neutral-color-high-pure; }
.neutral-color-high-light{ color: $neutral-color-high-light; }
.neutral-color-high-medium{ color: $neutral-color-high-medium; }
.neutral-color-high-dark{ color: $neutral-color-high-dark; }

.feedback-color-warning-light{ color: $feedback-color-warning-light; }
.feedback-color-warning-pure{ color: $feedback-color-warning-pure; }
.feedback-color-warning-medium{ color: $feedback-color-warning-medium; }
.feedback-color-warning-dark{ color: $feedback-color-warning-dark; }

.feedback-color-danger-light{ color: $feedback-color-danger-light; }
.feedback-color-danger-pure{ color: $feedback-color-danger-pure; }
.feedback-color-danger-medium{ color: $feedback-color-danger-medium; }
.feedback-color-danger-dark{ color: $feedback-color-danger-dark; }

.feedback-color-success-light{ color: $feedback-color-success-light; }
.feedback-color-success-pure{ color: $feedback-color-success-pure; }
.feedback-color-success-medium{ color: $feedback-color-success-medium; }
.feedback-color-success-dark{ color: $feedback-color-success-dark; }

.bg-brand-color-primary-light{ background-color: $brand-color-primary-light; }
.bg-brand-color-primary-pure{ background-color: $brand-color-primary-pure; }
.bg-brand-color-primary-medium{ background-color: $brand-color-primary-medium; }
.bg-brand-color-primary-dark{ background-color: $brand-color-primary-dark; }

.bg-brand-color-secondary-light{ background-color: $brand-color-secondary-light; }
.bg-brand-color-secondary-pure{ background-color: $brand-color-secondary-pure; }
.bg-brand-color-secondary-medium{ background-color: $brand-color-secondary-medium; }
.bg-brand-color-secondary-dark{ background-color: $brand-color-secondary-dark; }

.bg-highlight-color-light{ background-color: $highlight-color-light; }
.bg-highlight-color-pure{ background-color: $highlight-color-pure; }
.bg-highlight-color-medium{ background-color: $highlight-color-medium; }
.bg-highlight-color-dark{ background-color: $highlight-color-dark; }

.bg-health-color-primary{ background-color: $health-color-primary; }
.bg-health-color-secondary{ background-color: $health-color-secondary; }

.bg-well-being-color-primary{ background-color: $well-being-color-primary; }
.bg-well-being-color-secondary{ background-color: $well-being-color-secondary; }

.bg-neutral-color-low-pure{ background-color: $neutral-color-low-pure; }
.bg-neutral-color-low-dark{ background-color: $neutral-color-low-dark; }
.bg-neutral-color-low-medium{ background-color: $neutral-color-low-medium; }
.bg-neutral-color-low-light{ background-color: $neutral-color-low-light; }

.bg-neutral-color-high-pure{ background-color: $neutral-color-high-pure; }
.bg-neutral-color-high-light{ background-color: $neutral-color-high-light; }
.bg-neutral-color-high-medium{ background-color: $neutral-color-high-medium; }
.bg-neutral-color-high-dark{ background-color: $neutral-color-high-dark; }

.bg-feedback-color-warning-light{ background-color: $feedback-color-warning-light; }
.bg-feedback-color-warning-pure{ background-color: $feedback-color-warning-pure; }
.bg-feedback-color-warning-medium{ background-color: $feedback-color-warning-medium; }
.bg-feedback-color-warning-dark{ background-color: $feedback-color-warning-dark; }

.bg-feedback-color-danger-light{ background-color: $feedback-color-danger-light; }
.bg-feedback-color-danger-pure{ background-color: $feedback-color-danger-pure; }
.bg-feedback-color-danger-medium{ background-color: $feedback-color-danger-medium; }
.bg-feedback-color-danger-dark{ background-color: $feedback-color-danger-dark; }

.bg-feedback-color-success-light{ background-color: $feedback-color-success-light; }
.bg-feedback-color-success-pure{ background-color: $feedback-color-success-pure; }
.bg-feedback-color-success-medium{ background-color: $feedback-color-success-medium; }
.bg-feedback-color-success-dark{ background-color: $feedback-color-success-dark; }