.pill {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    text-decoration: none;
    border: $border-width-thin solid;
    border-radius: $border-radius-pill;
    padding: $spacing-quarck $spacing-xxxs;
    line-height: $line-height-default;
    gap: $sizing-nano;

    @media (max-width: 1200px) {
    //   margin-bottom: $sizing-xxxs;
    }

    &.pill-lg {
        padding: $spacing-xxxs;
    }

    &.pill-success {
        background-color: $feedback-color-success-medium;
        color: $feedback-color-success-light;
        border-color: $feedback-color-success-medium;

        &-outline {
            background-color: transparent;
            color: $feedback-color-success-pure;
            border-color: $feedback-color-success-pure;
        }
    }
        
    
    &.pill-danger {
        background-color: $feedback-color-danger-medium;
        color: $feedback-color-danger-light;
        border-color: $feedback-color-danger-medium;

        &-outline {
            background-color: transparent;
            color: $feedback-color-danger-pure;
            border-color: $feedback-color-danger-pure;
        }
    }

    &.pill-warning {
        background-color: $feedback-color-warning-medium;
        color: $feedback-color-warning-light;
        border-color: $feedback-color-warning-medium;

        &-outline {
            background-color: transparent;
            color: $feedback-color-warning-pure;
            border-color: $feedback-color-warning-pure;
        }
    }

    &.pill-neutralHigh {
        background-color: $neutral-color-high-dark;
        color: $neutral-color-high-light;
        border-color: $neutral-color-high-dark;

        &-outline {
            background-color: transparent;
            color: $neutral-color-high-dark;
            border-color: $neutral-color-high-dark;
        }
    }

    &.pill-neutralLow {
        background-color: $neutral-color-low-pure;
        color: $neutral-color-high-pure;
        border-color: $neutral-color-low-pure;

        &-outline {
            background-color: transparent;
            color: $neutral-color-low-pure;
            border-color: $neutral-color-low-pure;
        }
    }

    &.pill-primary {
        background-color: $brand-color-primary-pure;
        color: $brand-color-primary-dark;
        border-color: $brand-color-primary-pure;

        &-outline {
            background-color: transparent;
            color: $brand-color-primary-pure;
            border-color: $brand-color-primary-pure;
        }
    }

    &.pill-secondary {
        background-color: $brand-color-secondary-pure;
        color: $brand-color-secondary-light;
        border-color: $brand-color-secondary-pure;

        &-outline {
            background-color: transparent;
            color: $brand-color-secondary-pure;
            border-color: $brand-color-secondary-pure;
        }
    }
}