@import "_variables.scss";
@import "../_typography";

.wave {
  height: 100%;
  position: relative;
  background-color: $well-being-color-secondary;
  &__box {
    padding: $sizing-xxs $sizing-xxxs $spacing-xxl $sizing-xxxs;
  }
  &__inverted {
    transform: rotate(180deg);
    height: $sizing-xs;
    min-height: $sizing-xs;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 21px;
    background-size: 94px 40px;
    background-image: radial-gradient(
      circle at 39px -32px,
      transparent 49px,
      #fff 50px
    );
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 30px;
    background-size: 94px 40px;
    background-image: radial-gradient(
      circle at 86px 18px,
      #fff 12px,
      transparent 13px
    );
  }
}
