<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-hand-index-thumb"></i> Buttons</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">
                    
                    <div class="cardes mb-5">
                      <button class="btn btn-primary btn-lg">Button Primary Large</button>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                    <div class="cardes mb-5">
                        <button class="btn btn-secondary btn-lg">Button Secondary Large</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                      
                      <div class="cardes mb-5">
                        <button class="btn btn-lg" disabled>Button Disabled Large</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                  </div>

                  <div class="col-lg-12 my-4">
                    <div class="cardes mb-5">
                      <button class="btn btn-primary">Button Primary </button>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                    <div class="cardes mb-5">
                        <button class="btn btn-secondary">Button Secondary </button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                      <div class="cardes mb-5">
                        <button class="btn" disabled>Button Disabled </button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                  </div>

                  <div class="col-lg-12 my-4">
                    <div class="cardes mb-5">
                        <button class="btn btn-primary btn-sm">Button Primary Small</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                    <div class="cardes mb-5">
                      <button class="btn btn-secondary btn-sm">Button Secondary Small</button>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                    <div class="cardes mb-5">
                        <button class="btn btn-sm" disabled>Button Disabled Small</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>

                      <div class="cardes mb-5">
                        <button class="btn btn-primary-link">Button Primary Link</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>

                      <div class="cardes mb-5">
                        <button class="btn btn-secondary-link">Button Secondary Link</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>

                      <div class="cardes mb-5">
                        <button class="btn btn-primary-outline">Button Secondary</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>

                      <div class="cardes mb-5">
                        <button class="btn btn-secondary-outline">Button Secondary</button>
                          <pre class="line-numbers mt-4">
                              <code class="language-markup">
      
                              </code>
                          </pre>
                      </div>
                  </div>

                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>