<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Cards</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">

                    <div class="cardes mb-5">
                      <div class="card">
                        <h3>Card básico</h3>
                        <p>Base para uso de card sem sombra</p>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="card shadow-1">
                        <h3>Card com sombra nível 1</h3>
                        <p>Base para uso de card com sombra</p>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="card shadow-2">
                        <h3>Card com sombra nível 2</h3>
                        <p>Base para uso de card com sombra</p>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="card shadow-3">
                        <h3>Card com sombra nível 3</h3>
                        <p>Base para uso de card com sombra</p>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="card shadow-4">
                        <h3>Card com sombra nível 4</h3>
                        <p>Base para uso de card com sombra</p>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      
                        <div class="cards-program">
                          <div class="program-item active">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>

                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                          <div class="program-item">
                            <img src="https://cuidai.blob.core.windows.net/static/contents/programs/1672263170702.png">
                            <div class="form-group">
                              <div class="radio-group">
                                <input type="radio" id="1" name="radio1" />
                                <label class="radio" for="1"></label>
                              </div>
                            </div>
                            <a href="" target="_blank" class="brand-color-secondary-pure body-2 bold">
                              Ver mais detalhes
                            </a>
                          </div>
                        </div>

                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                      
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>