<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
              <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Forms - Radio</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">
                    <div class="cardes mb-5">
                      <div class="form-group">
                        <label>Selecione uma opção</label>
                        <div class="radio-group">
                          <input type="radio" id="1" name="radio1" />
                          <label class="radio" for="1"></label>
                          <label class="radio-label" for="1">Banana</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="2" name="radio1"/>
                          <label class="radio" for="2"></label>
                          <label class="radio-label" for="2">Laranja</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="3" name="radio1"/>
                          <label class="radio" for="3"></label>
                          <label class="radio-label" for="3">Melancia</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="4" name="radio1"/>
                          <label class="radio" for="4"></label>
                          <label class="radio-label" for="4">Uva</label>
                        </div>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>


                    <div class="cardes mb-5">
                      <div class="form-group radio-horizontal">
                        <label>Selecione uma opção</label>
                        <div class="break"></div>
                        <div class="radio-group">
                          <input type="radio" id="10" name="radio2"/>
                          <label class="radio" for="10"></label>
                          <label class="radio-label" for="10">Banana</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="20" name="radio2"/>
                          <label class="radio" for="20"></label>
                          <label class="radio-label" for="20">Laranja</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="30" name="radio2"/>
                          <label class="radio" for="30"></label>
                          <label class="radio-label" for="30">Melancia</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="40" name="radio2"/>
                          <label class="radio" for="40"></label>
                          <label class="radio-label" for="40">Uva</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="50" name="radio2"/>
                          <label class="radio" for="50"></label>
                          <label class="radio-label" for="50">Banana</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="60" name="radio2"/>
                          <label class="radio" for="60"></label>
                          <label class="radio-label" for="60">Laranja</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="70" name="radio2"/>
                          <label class="radio" for="70"></label>
                          <label class="radio-label" for="70">Melancia</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="80" name="radio2"/>
                          <label class="radio" for="80"></label>
                          <label class="radio-label" for="80">Uva</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="90" name="radio2"/>
                          <label class="radio" for="90"></label>
                          <label class="radio-label" for="90">Banana</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="100" name="radio2"/>
                          <label class="radio" for="100"></label>
                          <label class="radio-label" for="100">Laranja</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="110" name="radio2"/>
                          <label class="radio" for="110"></label>
                          <label class="radio-label" for="110">Melancia</label>
                        </div>
                        <div class="radio-group">
                          <input type="radio" id="120" name="radio2"/>
                          <label class="radio" for="120"></label>
                          <label class="radio-label" for="120">Uva</label>
                        </div>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                    
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>