<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Forms - Checkbox</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">
                    <div class="cardes mb-5">
                      <div class="form-group">
                        <label>Selecione algumas opções</label>
                        <div class="checkbox-group">
                          <input type="checkbox" id="1" />
                          <label class="checkbox" for="1"></label>
                          <label class="checkbox-label" for="1">Banana</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="2" />
                          <label class="checkbox" for="2"></label>
                          <label class="checkbox-label" for="2">Laranja</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="3" />
                          <label class="checkbox" for="3"></label>
                          <label class="checkbox-label" for="3">Melancia</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="4" />
                          <label class="checkbox" for="4"></label>
                          <label class="checkbox-label" for="4">Uva</label>
                        </div>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>


                    <div class="cardes mb-5">
                      <div class="form-group checkbox-horizontal">
                        <label>Selecione algumas opções</label>
                        <div class="break"></div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="10" />
                          <label class="checkbox" for="10"></label>
                          <label class="checkbox-label" for="10">Banana</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="20" />
                          <label class="checkbox" for="20"></label>
                          <label class="checkbox-label" for="20">Laranja</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="30" />
                          <label class="checkbox" for="30"></label>
                          <label class="checkbox-label" for="30">Melancia</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="40" />
                          <label class="checkbox" for="40"></label>
                          <label class="checkbox-label" for="40">Uva</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="100" />
                          <label class="checkbox" for="100"></label>
                          <label class="checkbox-label" for="1">Banana</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="200" />
                          <label class="checkbox" for="200"></label>
                          <label class="checkbox-label" for="200">Laranja</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="300" />
                          <label class="checkbox" for="300"></label>
                          <label class="checkbox-label" for="300">Melancia</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="400" />
                          <label class="checkbox" for="400"></label>
                          <label class="checkbox-label" for="400">Uva</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="1000" />
                          <label class="checkbox" for="1000"></label>
                          <label class="checkbox-label" for="1000">Banana</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="2000" />
                          <label class="checkbox" for="2000"></label>
                          <label class="checkbox-label" for="2000">Laranja</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="3000" />
                          <label class="checkbox" for="3000"></label>
                          <label class="checkbox-label" for="3000">Melancia</label>
                        </div>
                        <div class="checkbox-group">
                          <input type="checkbox" id="4000" />
                          <label class="checkbox" for="4000"></label>
                          <label class="checkbox-label" for="4000">Uva</label>
                        </div>
                      </div>
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                    
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>