<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Pills</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">
                    <div class="cardes mb-5">
                      <div class="pill pill-success"><i class="bi bi-house-fill"></i>Pill Success</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-success-outline">Pill Outline Success</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-danger">Pill Danger</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-danger-outline">Pill Outline Danger</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-neutralHigh">Pill Neutral High</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-neutralHigh-outline">Pill Outline Neutral High</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-neutralLow">Pill Neutral Low</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-neutralLow-outline">Pill Outline Neutral Low</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-primary">Pill Primary</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-primary-outline">Pill Outline Primary</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-secondary">Pill Secondary</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-secondary-outline">Pill Outline Secondary</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>

                    <div class="cardes mb-5">
                      <div class="pill pill-secondary pill-lg">Pill Secondary</div>
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                      
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>