<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Steps</h2>
                <div class="row">
                  <div class="col-lg-12 my-4">

                    <div class="cardes mb-5">
                      
                      <div class="step-vertical">
                        <div class="step-container">
                          <div class="step-header">
                            <div class="number"><span>1</span></div>
                            <div class="text">
                              <h6 class="heading-6">Escolha um dos programas</h6>
                              <p>Selecione um dos programas disponíveis para o paciente.</p>
                            </div>
                          </div>
                          <div class="step-content d-flex">
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                          </div>
                        </div>

                        <div class="step-container">
                          <div class="step-header">
                            <div class="number"><span>2</span></div>
                            <div class="text">
                              <h6 class="heading-6">Escolha um dos programas</h6>
                              <p>Selecione um dos programas disponíveis para o paciente.</p>
                            </div>
                          </div>
                          <div class="step-content">
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                          </div>
                        </div>

                        <div class="step-container">
                          <div class="step-header">
                            <div class="number"><span>3</span></div>
                            <div class="text">
                              <h6 class="heading-6">Escolha um dos programas</h6>
                              <p>Selecione um dos programas disponíveis para o paciente.</p>
                            </div>
                          </div>
                          <div class="step-content">
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                          </div>
                        </div>

                        <div class="step-container disabled">
                          <div class="step-header">
                            <div class="number"><span>4</span></div>
                            <div class="text">
                              <h6 class="heading-6">Escolha um dos programas desabilitados</h6>
                              <p>Selecione um dos programas disponíveis para o paciente com o texto maior que o anterior. <a href="">Saiba mais</a></p>
                            </div>
                          </div>
                          <div class="step-content">
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                            <div class="card shadow-2">
                              <p>conteúdo do card</p>
                            </div>
                          </div>
                        </div>

                      </div>

                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>
                      
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>