<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
                <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-caret-right-fill"></i> Timeline</h2>

                <div class="row">
                  <div class="col-lg-12 my-4">

                    <div class="cardes mb-5">
                      
                        <div class="timeline">

                          <div class="timeline-item">
                            <div class="timeline-icon">
                              <i class="bi bi-check"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>

                          <div class="timeline-item">
                            <div class="timeline-icon">
                              <i class="bi bi-check"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>

                          <div class="timeline-item current">
                            <div class="timeline-icon">
                              <i class="bi bi-bullseye"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende seus exames</p>

                              <div class="timeline-buttons">
                                <button class="pill pill-neutralLow">
                                  <i class="bi bi-rewind-fill"></i> Voltar Jornada
                                </button>
                                <button class="pill pill-neutralLow">
                                  Avançar Jornada<i class="bi bi-fast-forward-fill"></i>
                                </button>
                              </div>

                            </div>
                          </div>

                          <div class="timeline-item next">
                            <div class="timeline-icon">
                              <i class="bi bi-lock"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>
                          <div class="timeline-item next">
                            <div class="timeline-icon">
                              <i class="bi bi-lock"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>
                          <div class="timeline-item next">
                            <div class="timeline-icon">
                              <i class="bi bi-lock"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>
                          <div class="timeline-item next">
                            <div class="timeline-icon">
                              <i class="bi bi-lock"></i>
                            </div>
                            <div class="timeline-text">
                              <p>Agende sua consulta</p>
                              <small>15/04/2023</small>
                            </div>
                          </div>

                        </div>
                        
                      
                        <pre class="line-numbers mt-4">
                            <code class="language-markup">
    
                            </code>
                        </pre>
                    </div>


                    
                  </div>
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>