<!doctype html>
<html lang="pt-br">

    <%- include('../partials/head'); %>
    
    <body class="navbar-expand-lg">
        <%- include('../partials/header'); %>

        <div class="main d-flex">
            <%- include('../partials/navbar-aside.ejs'); %>

            <div class="container px-5">
              <h2 class="heading-2 brand-color-secondary-pure mt-5"><i class="bi bi-type"></i> Typography</h2>

              <div class="row my-5">
                <div class="col-lg-12 my-4">
                  <div class="cardes mb-5">
                    <h1 class="heading-1">Heading 1</h1>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h2 class="heading-2">Heading 2</h2>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h3 class="heading-3">Heading 3</h3>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h4 class="heading-4">Heading 4</h4>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h5 class="heading-5">Heading 5</h5>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h6 class="heading-6">Heading 6</h6>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
        
                  <div class="cardes mb-5">
                    <h7 class="heading-7">Heading 7</h7>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p>Body</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="bold">Body Bold</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="bold-medium">Body Bold Medium</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="italic">Body Italic</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="body-2">Body 2</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="body-2 bold">Body 2 Bold</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="body-2 bold-medium">Body 2 Bold Medium</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="body-2 italic">Body 2 Italic</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="overline">Overline</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>

                  <div class="cardes mb-5">
                    <p class="pillText">pillText</p>
                    <pre class="line-numbers mt-4">
                        <code class="language-markup">
                        </code>
                    </pre>
                  </div>
                </div>
              </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>
    </body>
</html>