@import "_variables.scss";
@import "../_typography";

.list {
  border: $border-width-hairline solid $neutral-color-high-medium;
  padding: 0;
  border-radius: $sizing-xxxs;
  text-align: center;
  &__title {
    padding: $spacing-nano $spacing-md;
    margin: 0;
    @media (min-width: 1200px) {
      padding: $spacing-xxxs 0 $spacing-xxxs 0;
    }
  }
  &__line {
    border-top: $border-width-hairline solid $neutral-color-high-medium;
    padding: $spacing-xxxs $spacing-nano;
    text-align: center;
    color: $neutral-color-low-pure;
  }
  &__item {
    text-decoration: none;
  }
  &__more {
    color: $brand-color-secondary-pure;
    margin: 0;
    //display: block;
    text-decoration: underline;
  }
}
