:root {
    --brand-color-primary-pure: #bfe338;
    --brand-color-secondary-pure:#5a3b94;
}


//DESIGN SYSTEM VITAT -- BRAND COLORS

$brand-color-primary-light: #ecf7c5;
$brand-color-primary-pure: var(--brand-color-primary-pure);
$brand-color-primary-medium: #8fae19;
$brand-color-primary-dark: #54670f;

$brand-color-secondary-light: #ede5f7;
$brand-color-secondary-pure: var(--brand-color-secondary-pure); 
$brand-color-secondary-medium: #4e2f8a;
$brand-color-secondary-dark: #261e4d;

//DESIGN SYSTEM VITAT -- HIGHLIGHT COLORS

$highlight-color-light: #fad9bc;
$highlight-color-pure: #f08223;
$highlight-color-medium: #b55b0c;
$highlight-color-dark: #693507;

//DESIGN SYSTEM VITAT -- HEALTH COLORS

$health-color-primary: #f5a0c5;
$health-color-secondary: #ede7c4;

//DESIGN SYSTEM VITAT -- WELL-BEING COLORS

$well-being-color-primary: #ffee87;
$well-being-color-secondary: #a58fc4;

//DESIGN SYSTEM VITAT -- NEUTRAL COLORS

$neutral-color-low-pure: #002b49;
$neutral-color-low-dark: #142028;
$neutral-color-low-medium: #374051;
$neutral-color-low-light: #5a6072;

$neutral-color-high-pure: #ffffff;
$neutral-color-high-light: #f0f1f5;
$neutral-color-high-medium: #d3d6e0;
$neutral-color-high-dark: #959aab;

//DESIGN SYSTEM VITAT -- FEEDBACK COLORS

$feedback-color-warning-light: #fff9cc;
$feedback-color-warning-pure: #f2a807;
$feedback-color-warning-medium: #bf7500;
$feedback-color-warning-dark: #693a00;

$feedback-color-danger-light: #fde7ea;
$feedback-color-danger-pure: #d0434f;
$feedback-color-danger-medium: #9d101c;
$feedback-color-danger-dark: #540002;

$feedback-color-success-light: #daf5e8;
$feedback-color-success-pure: #138647;
$feedback-color-success-medium: #005314;
$feedback-color-success-dark: #002500;




.brand-color-primary-light{ color:#ecf7c5;}
.brand-color-primary-pure{ color:#bfe338;}
.brand-color-primary-medium{ color:#8fae19;}
.brand-color-primary-dark{ color:#54670f;}

.brand-color-secondary-light{ color:#ede5f7;}
.brand-color-secondary-pure{ color:#5a3b94;}
.brand-color-secondary-medium{ color:#4e2f8a;}
.brand-color-secondary-dark{ color:#261e4d;}

.highlight-color-light{ color:#fad9bc;}
.highlight-color-pure{ color:#f08223;}
.highlight-color-medium{ color:#b55b0c;}
.highlight-color-dark{ color:#693507;}

.health-color-primary{ color:#f5a0c5;}
.health-color-secondary{ color:#ede7c4;}

.well-being-color-primary{ color:#ffee87;}
.well-being-color-secondary{ color:#a58fc4;}

.neutral-color-low-pure{ color:#002b49;}
.neutral-color-low-dark{ color:#142028;}
.neutral-color-low-medium{ color:#374051;}
.neutral-color-low-light{ color:#5a6072;}

.neutral-color-high-pure{ color:#ffffff;}
.neutral-color-high-light{ color:#f0f1f5;}
.neutral-color-high-medium{ color:#d3d6e0;}
.neutral-color-high-dark{ color:#959aab;}

.feedback-color-warning-light{ color:#fff9cc;}
.feedback-color-warning-pure{ color:#f2a807;}
.feedback-color-warning-medium{ color:#bf7500;}
.feedback-color-warning-dark{ color:#693a00;}

.feedback-color-danger-light{ color:#fde7ea;}
.feedback-color-danger-pure{ color:#d0434f;}
.feedback-color-danger-medium{ color:#9d101c;}
.feedback-color-danger-dark{ color:#540002;}

.feedback-color-success-light{ color:#daf5e8;}
.feedback-color-success-pure{ color:#138647;}
.feedback-color-success-medium{ color:#005314;}
.feedback-color-success-dark{ color:#002500;}



.bg-brand-color-primary-light{ background-color:#ecf7c5;}
.bg-brand-color-primary-pure{ background-color:#bfe338;}
.bg-brand-color-primary-medium{ background-color:#8fae19;}
.bg-brand-color-primary-dark{ background-color:#54670f;}

.bg-brand-color-secondary-light{ background-color:#ede5f7;}
.bg-brand-color-secondary-pure{ background-color:#5a3b94;}
.bg-brand-color-secondary-medium{ background-color:#4e2f8a;}
.bg-brand-color-secondary-dark{ background-color:#261e4d;}

.bg-highlight-color-light{ background-color:#fad9bc;}
.bg-highlight-color-pure{ background-color:#f08223;}
.bg-highlight-color-medium{ background-color:#b55b0c;}
.bg-highlight-color-dark{ background-color:#693507;}

.bg-health-color-primary{ background-color:#f5a0c5;}
.bg-health-color-secondary{ background-color:#ede7c4;}

.bg-well-being-color-primary{ background-color:#ffee87;}
.bg-well-being-color-secondary{ background-color:#a58fc4;}

.bg-neutral-color-low-pure{ background-color:#002b49;}
.bg-neutral-color-low-dark{ background-color:#142028;}
.bg-neutral-color-low-medium{ background-color:#374051;}
.bg-neutral-color-low-light{ background-color:#5a6072;}

.bg-neutral-color-high-pure{ background-color:#ffffff;}
.bg-neutral-color-high-light{ background-color:#f0f1f5;}
.bg-neutral-color-high-medium{ background-color:#d3d6e0;}
.bg-neutral-color-high-dark{ background-color:#959aab;}

.bg-feedback-color-warning-light{ background-color:#fff9cc;}
.bg-feedback-color-warning-pure{ background-color:#f2a807;}
.bg-feedback-color-warning-medium{ background-color:#bf7500;}
.bg-feedback-color-warning-dark{ background-color:#693a00;}

.bg-feedback-color-danger-light{ background-color:#fde7ea;}
.bg-feedback-color-danger-pure{ background-color:#d0434f;}
.bg-feedback-color-danger-medium{ background-color:#9d101c;}
.bg-feedback-color-danger-dark{ background-color:#540002;}

.bg-feedback-color-success-light{ background-color:#daf5e8;}
.bg-feedback-color-success-pure{ background-color:#138647;}
.bg-feedback-color-success-medium{ background-color:#005314;}
.bg-feedback-color-success-dark{ background-color:#002500;}